* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair', serif;
    margin: -1%;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

header{
    margin-left: 22%;
    margin-right: 24%;
    margin-top: 5%;
    text-align: center;
}


section{
    margin-left: 5%;
    margin-right: 6%;
    margin-top: 6%;
    text-align: center;
}

button{
   display: inline-block;
   position: relative;
   color:#a6adaf;
   background:#1f1f1f;
   font-family: inherit;
   font-weight: 500;
   font-size: 17px;
   padding: 5px 5px;
   margin: 10px;
   border: 1px solid #1f1f1f;
   border-radius:28.5px;
   z-index: 1;
   overflow: hidden;
   transition: 0.5s;
   cursor: pointer;
   width: 50%;
   height: 20%;
}




button:active::before{
    background: #3a0ca3;
  
}

.description{
    color: black;
}

.title{
    color: black;
   font-size: 25px;
   
}
@media screen and (max-width:900px) {
 
   
}
